<div class="row form-group" ng-form="{{field}}" ng-class="{ 'has-error' : {{field}}.$dirty &&  {{field}}.$invalid }">
    <label class="col-sm-2 control-label"> {{field | labelCase}}
        <span ng-if="required">*</span>
    </label>
    <div class="col-sm-6" ng-switch="required">
        <input ng-switch-when="true"
               ng-model="record[field]"
               type="{{type}}"
               class="form-control"
               value="{{record[field]}}"
               required />
        <div class="input-group" ng-switch-default>
        <input
               ng-model="record[field]"
               type="type"
               value="{{record[field]}}"
               class="form-control" />
        </div>
    </div>
    <div class="col-sm-4 has-error" ng-show="{{field}}.$dirty && {{field}}.$invalid">
        <p class="control-label" > {{ field | labelCase }} is required.</p>
    </div>
</div>