.providers-container{
    border: 1px solid #cccccc;
    padding: 10px 0;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.provider-input{
    display : none;
}
.new-client{
    vertical-align: middle;
}
.table-title h3 {
    margin-top: 5px;
}